

	

body{
	 font-family: 'Mokoto';
	 src: url('C:\Users\Áine\OneDrive\Desktop\SCAM\Notes.html\mokoto\Mokoto Demo.ttf) format('woff);
	 background-image: url('Background.png');
	 background-position:center;
	 background-attachment: fixed;
	 background-size: cover;
	 
	
	 
}


#container{
	background-color: #b80f0a;
	border-radius:8px;
	box-shadow: 0px 10px 15px 10px rgba(0,0,0,0.3);
	width: 300px;
	height: 300px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	justify-content: center;
	
}

#list-header{
	display:flex;
	align-items: left;
	justify-content: left;	
}

.blankDiv{
	border: none;
	padding: 20px;
	border-radius: 10px;
	height: 200px;
	width: 200px;
	margin: 12px;
	display:flex;
	justify-content: center;
	align-items: center;
}

#addNoteDiv{
	background-color: #b80f0a;
	border: 1px solid #b80f0a;
	height: 280px;
	width: 300px;
	margin: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#addNoteDiv:hover {
	transition: 0.25s;
	background-color: #8b0000;
	
}

#addNoteDiv i {
	font-size: 70px;
	color: #fff;
	
}


#list-container{
	display: flex;
	align-items: left;
	justify-content: left;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap; 
	text-align: center;
}

li{
	background-image: url('NotesContainer.png');
	margin: 5px 0;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	width: 200px;
	margin: 10px;
	border-radius: 10px;
	
}